*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:"Open Sans", sans-serif;;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Sarabun", sans-serif;
}
body{
	min-height:500px;
	background:#fff;
	color:black;
	font-size:16px
}

.brandname{
	font-size:50px;
	color:#192bc2;
}
.brandname:hover{
	color:#192bc2;
	text-decoration: underline;
}
.log_reg ul li a{
	font-size:20px;
	background-color:#192bc2;
	padding:10px 30px !important;
	color:#fff;
	border-radius:10px;
}
.log_reg ul li a:hover{
	background-color: #fff;
	color:#192bc2; 
	font-size: 30px;
}
.naviform{
	margin-left:10px
}
.secnav{
	position:sticky;
	top:0px;
	z-index:1000;
	padding-bottom: 6px;
}
.navibars ul{
	 width:100%;
	 display: flex;
	 justify-content: space-around;
}
.navibars ul li a{
	color:#192bc2;
	font-size:20px;
}
.navibars ul li a:hover{
	font-size:25px;
	color:#192bc2;
	background-color:#fff;
	border-radius: 10px;
}
.navibars ul li a:active{
	color:#192bc2}

	/*navs for small devices*/
.offcanvas{
	width:50%!important;
	padding-left:20px;
	
}
.smalldevices{
	padding:10px;
	min-height:300px;
}
.smalldevices ul li a{
	font-size:30px;
	color:#192bc2; 
}
.smalldevices ul li a:hover{
	background:rgba(0, 0, 255, 0.1);
}


/*.navbar-toggler-icon{
	font-size: 50px;
	color:#192bc2 !important;
	background-image:none !important;
	
}
.navbar-toggler{
	line-height:0 !important;
	padding: 0px !important;
	padding-bottom: 0px !important;
	margin: 0px !important;
	border: none;
}
.navbar-toggler:focus{
	outline:none;
	box-shadow: none;
	
}*/

.bannerbackground{
	width:100%;
	min-height:400px !important;
}

.carousel-item-div img{
	width:100%;
	height: 500px !important;
	position:relative !important;
	
}
.carotext{
	position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
	top:30%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
	z-index: 100;
}
.carotext p{
	font-size:50px;
}
.carotext a{
	padding:8px 15px;
	margin-bottom: 10px;
	font-size:25px;
	background: #192bc2;
	color:#fff !important;
	border:none;
	border-radius: 5px 15px 5px 15px;
	text-decoration: none;
}
.carotext a:hover{
	font-size:30px ;
	padding:15px 20px;
}
.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 255, 0.2);
	
}
.servicessec{
	margin-top:100px;
	background-color: rgb(248, 249, 250);
}
.headerdiv h2{
	text-align: center;
	font-size: 50px;
	padding:30px 0px 70px 0px;
	color:#192bc2;
}
.servicebarhead{
	display: flex;
	justify-content: space-around;
}
.servicebar{
	text-align:center;
	min-height: 300px;
	margin-bottom:20px;
	
}
.servicebar div{
	padding:15px;
	min-height:350px;
}
.servicebar img{
	width:80px;
	padding-bottom:10px;
}
.servicebar h2{
	font-size:25px;
}
.servicebar p{
	font-size: 16px;
	padding: 10px 3px;
}
.servicebar a{
	padding:8px 15px;
	margin-bottom: 10px;
	font-size:25px;
	background: #192bc2;
	color:#fff !important;
	border:none;
	border-radius: 5px 15px 5px 15px;
	text-decoration: none;
}
.servicebar a:hover{
	font-size:30px ;
	padding:15px 20px;
}
.servicebarhead2{
	display: flex;
	justify-content: center;
}
.servicebar2{
	text-align:center;
	min-height: 100px;
	margin-bottom:20px;
	
}
.servicebar2 a{
	padding:8px 15px;
	margin-bottom: 10px;
	font-size:25px;
	background: #192bc2;
	color:#fff !important;
	border:none;
	border-radius: 5px 15px 5px 15px;
	text-decoration: none;
}
.servicebar2 a:hover{
	font-size:30px ;
	padding:15px 20px;
}

.testsection{
	min-height: 200px;
	margin-top: 100px;
	background:rgb(248, 249, 250) ;
}
.testsectionsub{
	text-align:center;
	padding-bottom:10px
}
.testsectionsub img{
	width:50px !important;
	height: 50px !important;
	padding:0px;
}
.footer{
	text-align: center;
	margin-top:100px;
	background-color: rgb(248, 249, 250);
	padding-top: 25px;
}
.footer-social ul li {
	list-style-type: none;
	display: inline-block;
	margin:0px 30px;
	padding: 20px 0px;
	text-align: center;
}
.footer-social ul li a{
	text-decoration: none;
}
.footer-social ul li a img{
	width:30px;
	height:30px;
}
.footer-pp ul li{
 	list-style-type:none;
}
.footer-pp ul li a{
	font-size:20px;
}
.footer-pp ul li#pp a{
	text-decoration: none;
	color:black;
	padding-bottom:10px;
	font-size:12px;
}
.cp{
	text-align: center;
	font-size:18px;
	padding:20px 0px;
}
/*about us page content*/
.aboutdes{
	margin: auto;
	margin-bottom: 100px;
}
.aboutdes p{
	font-size:19px;
	text-align: center;
}
.mands{
	margin:auto;
	text-align: center;
	margin-bottom: 100px;
}
.mands h3{
	font-size:30px;
	padding-bottom:30px;
	color:#192bc2;
}
.mands p{
	font-size: 19px ;
}
.aboutcon{
	margin:auto;
	text-align: center;
	
}
.aboutcon h6{
	font-size:22px;
	padding-bottom:20px;
	color:#192bc2;
}
.aboutcon p{
	font-size:19px;
}
/*contact section*/
.contactadd{
	text-align: center;
}
.contactadd h6{
	font-size:25px;
	padding-bottom:20px;
	color:#192bc2;
}
.contactadd p{
	font-size:19px;
}
.contactform form{
	background:rgb(248, 249, 250);
	padding:20px 8px;
	border-radius: 10px;
}
.contactform form div{
	margin:15px 10px;

}
/*FAQ section*/
.qands{
	margin-top:20px;
	margin-bottom: 50px;
}
.qands h4{
	font-size:35px;
	padding-bottom:30px;
	color:#192bc2;
	margin-left:30px;
}
.qands a{
	text-decoration: none;
	font-size:20px;
	color:#192bc2;
	padding:10px 5px;
}
.qands a:active{
	color:greenyellow;
}
/*profilebox*/

.profilebox .boxrow{
	margin:25px 0px;
	
}
.profilebox2{
	min-height:350px;
	background-color: rgb(248, 249, 250);
	margin-bottom: 30px;
	padding-top: 20px;
}
.imgbox{
	min-height: 150px;
	width:80%;
	margin: auto;
	margin-top: 10px;
	
}
.imgbox img{
	width:150px;
	height:150px;
	border-radius: 50%;
	object-fit: cover;
	margin: auto;
	display: block;
	background-image: url(images/user.png);
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	background-position:center;
	


}
.profdescription{
	min-height: 140px;
	width:100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
.profdescription h4{
	font-size:18px;
	
}
.profdescription p{
	font-size: 15px;
}


@media screen and (max-width: 480px){
	.brandname{
		font-size:35px;
	}
	.log_reg ul li {
		margin:0px 10px 5px 10px!important ;
	}
	.log_reg ul li a{
		
		padding:10px 20px !important;
		
	}
	.log_reg ul li a:hover{ 
		font-size:25px;
		
	}
	.bannerbackground{
		min-height:300px !important;
	}
	.carousel-item-div img{
		height: 300px !important;
	}
	.carotext{
		right: 10%;
		left: 10%;
		top:20%;
		
	}
	.carotext p{
		font-size:25px;
	}
	.servicessec{
		margin-top:50px;
		margin-left: 5px !important;
		margin-right: 5px !important;
		
	}
	.headerdiv h2{
		
		font-size: 40px;
		padding:20px 0px 30px 0px;
		
	}
	.servicebarhead{
		display: block;
		
	}
	.servicebar{
		min-height: 200px;
		margin-bottom:15px;
		display: block;
	}
	.servicebar div{
		padding:10px;
		margin-bottom:50px;
		min-height:250px;
	}
	.servicebar img{
		width:60px;
	}
	.testsection{
		min-height: 150px;
		margin-top: 50px;
	
	}
	.footer{
		margin-top:60px;
		padding-top: 25px;
	}
	.footer-social ul li {
		list-style-type: none;
		display: inline-block;
		margin:0px 15px;
		padding: 20px 0px;
		text-align: center;
	}
	.footer-social ul li a{
		text-decoration: none;
	}
	.footer-social ul li a img{
		width:30px;
		height:30px;
	}
	.contactadd h6{
		font-size:22px;
		padding-bottom:30px;
		
	}
	.contactform form div{
		margin:15px 0px;
	
	}
	.formrow{
		margin: auto;
	}
	.offcanvas{
		width:60%!important;
		
		
	}
}
@media screen and (min-width: 481px) and (max-width: 768px){
	.log_reg ul li {
		margin:0px 10px 5px 10px!important ;
	}
	.log_reg ul li a{
		
		padding:10px 20px !important;
		
	}
	.bannerbackground{
		min-height:400px !important;
	}
	.carousel-item-div img{
		height: 400px !important;
	}
	.carotext{
		right: 10%;
		left: 10%;
		top:20%;
		
	}
	.carotext p{
		font-size:35px;
	}
	.servicessec{
		margin-top:50px;
	}
	.headerdiv h2{
		
		font-size: 40px;
		padding:20px 0px 30px 0px;
		
	}
	.servicebarhead{
		display: block;
		
	}
	.servicebar{
		min-height: 200px;
		margin: auto;
		margin-bottom:15px;
		display: block;
	}
	.servicebar div{
		padding:10px;
		margin-bottom:50px;
		min-height:250px;
	}
	.servicebar img{
		width:70px;
	}
	.servicebar p{
		font-size: 16px;
		padding: 10px 20px;
	}
	.testsection{
		min-height: 170px;
		margin-top: 50px;
	
	}
	.footer{
		margin-top:60px;
		padding-top: 25px;
	}
	.footer-social ul li {
		list-style-type: none;
		display: inline-block;
		margin:0px 15px;
		padding: 20px 0px;
		text-align: center;
	}
	.footer-social ul li a{
		text-decoration: none;
	}
	.footer-social ul li a img{
		width:30px;
		height:30px;
	}
	.formrow{
		margin: auto;
	}
}
@media screen and (min-width: 769px) and (max-width: 1077px){
.servicebarhead{
	display:flex;
	flex-wrap: wrap;

}
.servicebar{
	width:50%;
	
}
.contactform, .contactadd{
	display: block;
	width: 100%;
}
.formrow{
	margin: auto;
}
.profilebox2{
	width:45%;
	
}
}
@media screen and (min-width: 1077px) and (max-width: 1280px){
	.profilebox2{
		width:45%;
		
	}
}
